{% for item in cart %}
  <div class="showcase">
      <div>
          <a href="#" class="showcase-img-box">
              <img src="/static/img/products/sports-1.jpg" alt="running & trekking shoes - white" class="showcase-img" width="70">
          </a>
      </div>

      <div class="showcase-content cart-items">
          <div>
              <a href="#">
                  <h4 class="showcase-title">{{ item.product.title }}</h4>
              </a>
          
              <div class="price-box">
                  <p class="price">${{ item.product.get_display_price }}</p>
                  <del>$15.00</del>
              </div>
          </div>

          <div>
              <a href="{% url 'remove_from_cart' item.product.id %}">
                  <div class="icon-trash">
                      <div class="trash-lid" style="background-color: #ff6666"></div>
                      <div class="trash-container" style="background-color: #ff6666"></div>
                      <div class="trash-line-1"></div>
                      <div class="trash-line-2"></div>
                      <div class="trash-line-3"></div>
                  </div>
              </a>

              <div class="inc-button">
                  <div style="display:flex; flex-direction: row;">
                      <a href="{% url 'change_quantity' item.product.id %}?action=increase" class="showcase-category"><div class="plus-symbol"></a>
                      <div>{{ item.quantity }}</div>
                      <a href="{% url 'change_quantity' item.product.id %}?action=decrease" class="showcase-category"><div class="minus-symbol"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endfor %}



<style>
  .product-minimal {
      display: flex;
  }

  .product-minimal .showcase-wrapper{
      display: block;
      overflow-x: hidden;
  }

  .plus-symbol{
      display:inline-block;
      width:20px;
      height:20px;
      
      background:
          linear-gradient(#fff 0 0),
          linear-gradient(#fff 0 0),
          #000;
      background-position:center;
      background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
      border-radius:50%;
  }

  .minus-symbol{
      display:inline-block;
      width:20px;
      height:20px;
      
      background:
          linear-gradient(#fff 0 0),
          linear-gradient(#fff 0 0),
          #000;
      background-position:center;
      background-size: 50% 2px; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
      border-radius:50%;
  }

  .icon-trash {
      width: 30px;
      height: 30px;
      position: relative;
      overflow: hidden;
      margin-left: 25px;
      margin-bottom: 25px;
  }

  .icon-trash .trash-lid {
      width: 62%;
      height: 10%;
      position: absolute;
      left: 50%;
      margin-left: -31%;
      top: 10.5%;
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg); 
  }

  .icon-trash .trash-lid:after {
      content: "";
      width: 26%;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -13%;
      margin-top: -10%;
      background-color: inherit;
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      transform: rotate(-1deg); 
  }

  .icon-trash .trash-container {
      width: 56%;
      height: 65%;
      position: absolute;
      left: 50%;
      margin-left: -28%;
      bottom: 10%;
      background-color: rgb(255, 255, 255);
      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;
  }

  .icon-trash .trash-container:after {
      content: "";
      width: 110%;
      height: 12%;
      position: absolute;
      left: 50%;
      margin-left: -55%;
      top: 0;
      background-color: inherit;
      border-bottom-left-radius: 45%;
      border-bottom-right-radius: 45%;
  }

  .icon-trash .trash-line-1 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 38%;
      margin-left: -2%;
      bottom: 17%;
      background-color: #ffffff;
  }

  .icon-trash .trash-line-2 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 50%;
      margin-left: -2%;
      bottom: 17%;
      background-color: #ffffff;
  }

  .icon-trash .trash-line-3 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 62%;
      margin-left: -2%;
      bottom: 17%;
      background-color: #ffffff;
  }

  .cart-items{
      display: flex;
      justify-content: space-between;
  }

  .inc-button{
      display: flex;
  }

  @media (max-width: 1024px) {
      .product-minimal .product-showcase {
          min-width: -webkit-calc(100% - 10px);
          min-width: calc(100% - 10px);
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px);
      }

      .product-minimal .showcase-wrapper{
          display: block;
          overflow-x: hidden;
      }
  }
</style>